# thirdweb API Keys (https://thirdweb.com/dashboard/settings/api-keys)
NEXT_PUBLIC_THIRDWEB_API_KEY= 81aeaabd57cd81b57dd114df9e97a1a7
THIRDWEB_SECRET_KEY= 2xJub36iXkP1NCleZ3PNSjoHYsrqXu8RuNxW_JregwcilqI4G-Vv1mCIyV7I3SD7iKS4NSEFVkzOtb11rsaeAQ

# Magic Link (Email & Phone Number Wallets)
NEXT_PUBLIC_MAGIC_LINK_API_KEY=

# Paper Wallet (Email Wallets)
NEXT_PUBLIC_PAPER_CLIENT_ID=

#ERC-4337 Smart Wallets
NEXT_PUBLIC_WALLET_FACTORY=

# User Authentication
AUTH_PRIVATE_KEY=
NEXT_PUBLIC_AUTH_DOMAIN=